/* Default Navbar Style */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  color: #eef2f5;
  padding: 20px 20px;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif; 
  
}

.navbar-scrolled {
  background-color: #1a1a1d; 
  padding: 10px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 1rem; 
}

.logo {
  font-size: 1.8rem;
  color: #E3B04B;
  text-decoration: none; 
  display: flex;
  text-align: left;
  
  padding: 0.5rem 0; 
  cursor: pointer;  
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif; /* Brittany's font */
}
.navbar .logo:hover {
  color: #3bd193; 
  transition: color 0.3s ease;
  text-decoration: none; 
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; 
  cursor: pointer;  
  padding-top: 10px;
   font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif; 
}

.nav-links li a {
  color: #eef2f5;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
 
}

.nav-links li a:hover {
  color: #3bd193; 
}
