.projects {
  background-color: #2F3E46;
  padding: 60px 20px;
  margin-left: 120px; /* Add left margin to push away from the navbar */
}



.section-title {
  font-size: 2.5rem;
  color: #e3b04b;
  margin-bottom: 40px;
  text-align: center;
  margin-right: 180px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: #1d302d;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-content {
  text-align: left;
}

.project-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.project-title a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.project-title a:hover {
  color: #e3b04b;
}

.project-description {
  font-size: 1rem;
  color: #A8B2B8;
  margin-bottom: 15px;
}

.project-technologies {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-technologies li {
  background-color: #27423f;
  color: #3BD193;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.project-links {
  margin-top: 15px;
  font-size: medium;

}

.project-link {
  color: #e3b04b;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #ccd6f6;
  text-decoration: none;
}
