/* Fixed side navbar */
.side-navbar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
  }
  
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
   
  }
  
  .nav-link {
    display: block;
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover .nav-icon {
    transform: scale(1.1); 
    transition: all 0.3s ease;
  }
  
  .nav-icon {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  

  .nav-link:hover {
    background-color: #4b8f29;
    border-radius: 50%;
    padding: 10px;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .nav-icon {
      width: 30px; 
      height: 30px;
    }
  }
  